{{- if .Values.ingress.enabled -}}
{{- $fullName := include "er-frappe.fullname" . -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ $fullName }}
  namespace: {{ .Values.targetNamespace }}
  labels:
{{ include "er-frappe.labels" . | indent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
{{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ $.Release.Name }}.{{ . }}
        - {{ $.Release.Name }}-dr.{{ . }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
  {{- range .Values.ingress.hosts }}
    - host: {{ $.Release.Name }}.{{ .host }}
      http:
        paths:
        {{- range .paths }}
          - path: {{ . }}
            backend:
              serviceName: {{ $fullName }}
              servicePort: http
        {{- end }}
        {{ if $.Values.components.frappesocketio }}
          - path: /socket.io
            backend:
              serviceName: {{ $fullName }}-socketio
              servicePort: http
        {{ end }}
    - host: {{ $.Release.Name }}-dr.{{ .host }}
      http:
        paths:
        {{- range .paths }}
          - path: {{ . }}
            backend:
              serviceName: {{ $fullName }}
              servicePort: http
        {{- end }}
        {{ if $.Values.components.frappesocketio }}
          - path: /socket.io
            backend:
              serviceName: {{ $fullName }}-socketio
              servicePort: http
        {{ end }}
    - host: {{ $.Release.Name }}-kafka-monitor.{{ .host }}
      http:
        paths:
          - path: /
            backend:
              serviceName: {{ $.Release.Name }}-kafka-monitor
              servicePort: http
    {{- end }}
{{- end }}
