---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "er-frappe.fullname" . }}
  namespace: {{ .Values.targetNamespace }}
  labels:
{{ include "er-frappe.labels" . | indent 4 }}
  annotations:
    {{- if .Values.service.aksStaticIPResourceGroup }}
      service.beta.kubernetes.io/azure-load-balancer-resource-group: {{ .Values.service.aksStaticIPResourceGroup }}
    {{ else }}
      {{ toYaml .Values.service.annotations | indent 4 }}
    {{ end }}
spec:
  type: {{ .Values.service.type }}
{{- if or (eq .Values.service.type "LoadBalancer") (eq .Values.service.type "NodePort") }}
  externalTrafficPolicy: {{ .Values.service.externalTrafficPolicy }}
{{- end }}
{{- if eq .Values.service.type "LoadBalancer" }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
{{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: nginx
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "er-frappe.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/role: "web"
{{ if .Values.components.frappesocketio }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "er-frappe.fullname" . }}-socketio
  namespace: {{ .Values.targetNamespace }}
  labels:
{{ include "er-frappe.labels" . | indent 4 }}
spec:
  type: {{ .Values.service.type }}
{{- if or (eq .Values.service.type "LoadBalancer") (eq .Values.service.type "NodePort") }}
  externalTrafficPolicy: {{ .Values.service.externalTrafficPolicy }}
{{- end }}
{{- if eq .Values.service.type "LoadBalancer" }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
{{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: nginx
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "er-frappe.name" . }}-socketio
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/role: "socketio"
{{ end }}
{{ if .Values.redisserver.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name | replace " " "-" }}-cache-ntex-com
  {{- if .Values.targetNamespace }}
  namespace: {{ .Values.targetNamespace }}
  {{- end }}
spec:
  selector:
    app: {{ .Release.Name | replace " " "-" }}-redis-cache
  ports:
  - protocol: TCP
    port: {{ .Values.redisserver.cache.service.port | default 13000 }}
    targetPort: {{ .Values.redisserver.cache.listenport }}
  type: {{ .Values.redisserver.cache.service.type }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name | replace " " "-" }}-queue-ntex-com
  {{- if .Values.targetNamespace }}
  namespace: {{ .Values.targetNamespace }}
  {{- end }}
spec:
  selector:
    app: {{ .Release.Name | replace " " "-" }}-redis-queue
  ports:
  - protocol: TCP
    port: {{ .Values.redisserver.queue.service.port | default 11000 }}
    targetPort: {{ .Values.redisserver.queue.listenport }}
  type: {{ .Values.redisserver.queue.service.type }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name | replace " " "-" }}-socketio-ntex-com
  {{- if .Values.targetNamespace }}
  namespace: {{ .Values.targetNamespace }}
  {{- end }}
spec:
  selector:
    app: {{ .Release.Name | replace " " "-" }}-redis-socketio
  ports:
  - protocol: TCP
    port: {{ .Values.redisserver.socketio.service.port | default 12000 }}
    targetPort: {{ .Values.redisserver.socketio.listenport }}
  type: {{ .Values.redisserver.socketio.service.type }}
{{ if .Values.redisserver.bigcache.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name | replace " " "-" }}-bigcache-ntex-com
  {{- if .Values.targetNamespace }}
  namespace: {{ .Values.targetNamespace }}
  {{- end }}
spec:
  selector:
    app: {{ .Release.Name | replace " " "-" }}-redis-bigcache
  ports:
  - protocol: TCP
    port: {{ .Values.redisserver.bigcache.service.port | default 13100 }}
    targetPort: {{ .Values.redisserver.bigcache.listenport }}
  type: {{ .Values.redisserver.bigcache.service.type }}
{{ end }}
{{ end }}

{{ if .Values.components.kafka }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name | replace " " "-" }}-zookeeper-ntex-com
  {{- if .Values.targetNamespace }}
  namespace: {{ .Values.targetNamespace }}
  {{- end }}
spec:
  selector:
    app.kubernetes.io/name: {{ include "er-frappe.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/role: "zookeeper"
  ports:
  - protocol: TCP
    port: 2181
    targetPort: client
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name | replace " " "-" }}-kafka-headless
  {{- if .Values.targetNamespace }}
  namespace: {{ .Values.targetNamespace }}
  {{- end }}
spec:
  clusterIP: None
  selector:
    app.kubernetes.io/name: {{ include "er-frappe.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/role: "kafka"
  ports: null
  type: ClusterIP

{{ end }}